

<!-- filter form section starts  -->

<section class="add-form-container" data-aos="zoom-in">
    <h2>LOGIN</h2>

    <form method="POST" action="/" novalidate>

      

        <div class="inputBox">
            <span>User Name</span>
            <input type="text" placeholder="nhập username" name="userName" aria-label="userName">
        </div>

        <div class="inputBox">
            <span>Password</span>
            <input type="text" placeholder="nhập password" name="pass" aria-label="pass">
        </div>

        <input type="submit" value="Login" class="btn">
        <a href="/register" class="btn">Đăng ký thành viên</a>

    </form>


</section>

<!-- filter form section ends -->